@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Frank Ruhl Libre", serif;
  overflow-x: hidden;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.navbar-text a:hover {
  color: whitesmoke;
}
.banner-bg {
  background-image: url("/Photos/bannar.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-position: center;
}
.navbar-text a,
.banner-content h1,
.banner-content p,
button {
  color: #bababa;
}
.primary-btn {
  background-color: #da715e;
}
.fa-star {
  color: #da715e;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.food-img {
  height: 160px;
}
.mySwiperProjects .swiper-pagination-bullet {
  background-color: #da715e;
  width: 15px;
  height: 15px;
}
.review-img {
  border: 1px solid #da715e;
}
.pizza {
  background-image: url("/Photos/mask-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.pizza img {
  margin-left: 10rem;
  border: 20px solid white;
  border-radius: 300px;
}
.arrow-left {
  border: 1px solid #da715e;
  color: #da715e;
}
.arrow-right {
  background-color: #da715e;
  color: white;
}
.quote {
  color: #e2b4ac;
}
